body
{
background:url(http://365psd.ru/images/backgrounds/wood-texture-014.jpg);
}
li{
	cursor:pointer;
	color:navy;
	font-size:18px;
}
li:hover{
	color:red;
}
.NAME{
	color:#5cef4d;
	font-family:RUSBoycott;
	font-size:30px;
	background:;
}
.rect{
	width:25px;
	height:25px;
	background:blue;
	border-radius:20px;
}
#img1{
	cursor:pointer;
}
.rect2{
	width:25px;
	height:25px;
	background:green;
	border-radius:20px;
}
tr{
	
	color:#2bd66b;
}




.a1{
	width:50%;
	margin:2px 0px 2px 0px;
	padding:2px 0px 2px 0px;
	background:#3d3d3d;
	color:#fff;
	padding:5px;
	display:block;
	
}
div{
	margin:0px 0px 2px 5px;
	padding:0px 0px 2px 5px;
}

.ul{
	margin:0;
	padding:0;

}
a{
	
	background:#3d3d3d;
	color:#fff;
	padding:2px;
	
}
a:hover{
	background:#666;
	padding:5px 0 5px 15px;
	list-style:none;
}
.menu li:first-child a,
.menu li .menu__drop li:first-child a{
	border:3px 3px 0 0;
}
.menu li:last-child a,
.menu li .menu__drop li:last-child a{
	border:0 0 3px 3px;
	border-bottom:0;
}
.menu__list{
	position:relative;
}
.menu__drop{
	list-style:none;
	position:absolute;
	width:50%;
	left:50%;
	top:-9999em;
	opacity:0;
	border-left:5px solid transparent;
	transition:0.5s opacity;
}
.menu__list:hover .menu__drop{
	opacity:1;
	top:0;
}
#regusers{
	width:16%;
	position:absolute;
	top:0%;
	left:81%;
	z-index:50;
}














